.container1 {
    border: 3px solid red;
    height: 10vh;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    border: 5px solid yellow;
    height: 90vh;
    overflow: auto;
}

.bord {
    border-bottom: 1px solid #999;
}

ul {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 20px;
    column-gap: 25px;
}

li {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 12px;

    transition: box-shadow 0.3s ease;
    flex: 1 1 calc(33% - 16px);
    max-width: calc(33% - 16px);
    height: 150px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &:hover {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

    h3 {
        margin: 0 0 8px 0;
        font-size: 1rem;
        color: #333;
    }

    p {
        margin: 0 0 12px 0;
        font-size: .8rem;
        color: #666;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        flex-grow: 1;
    }

    small {
        font-size: .7rem;
        display: block;
        color: #999;
    }
}

svg {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    font-size: 28px;
    cursor: pointer;
    margin-left: auto;
    
    transition: box-shadow 0.2s ease;
    
    position: fixed;
    right: 3rem; 
    bottom: 2rem;
    z-index: 1000;
    
    &:hover {
        color: black;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        
    }
}


.alert {
    margin-top: 16px;
    padding: 12px;
    border-radius: 4px;
    background-color: #f8d7da;
    color: #721c24;
}



@media (max-width: 600px) {
    li {
        flex: 1 1 100%;
        max-width: 100%;
    }
}