<!-- src/app/components/notes/notes.component.html -->

<div class="container1"></div>

<div class="container2">
    <div *ngIf="notes.length > 0; else noNotes">
      <!--<h2>All Notes</h2>-->
      <ul>
        <li *ngFor="let note of notes; index as i" (click)="note.id ? viewNoteById(note.id) : null" [ngStyle]="{'background-color': note.color}">
          <h3>{{ note.title || ' ' }}</h3>
          <div class="bord"></div>
          <p>{{ note.content || ' ' }}</p>
          <small>{{ note.createdAt | date: 'medium' }}</small>
        </li>
      </ul>
    </div>
  <ng-template #noNotes>
    <p></p>
  </ng-template>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
</div>


<div style="display: flex; align-items: center; padding: 25px" (click)="createNewNote()">
  <ion-icon name="add-outline" class="addNote"></ion-icon>
</div>