<!-- src/app/components/notes/notes.component.html -->

<div class="container1"></div>

<div class="container2">
    <div *ngIf="notes.length > 0; else noNotes">
      <!--<h2>All Notes</h2>-->
      <ul>
        <li *ngFor="let note of notes; index as i" (click)="note.id ? viewNoteById(note.id) : null" [ngStyle]="{'background-color': note.color}">
          <h3>{{ note.title || ' ' }}</h3>
          <div class="bord"></div>
          <p>{{ note.content || ' ' }}</p>
          <small>{{ note.createdAt | date: 'medium' }}</small>
        </li>
      </ul>
    </div>
  <ng-template #noNotes>
    <p></p>
  </ng-template>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
</div>


<div style="display: flex; align-items: center; padding: 25px" (click)="createNewNote()">
  <svg xmlns="http://www.w3.org/2000/svg" width="56px" height="56px" viewBox="0 0 24 24">
    <path fill="currentColor" fill-rule="evenodd" d="M12 2a1 1 0 0 0-1 1v8H3a1 1 0 1 0 0 2h8v8a1 1 0 1 0 2 0v-8h8a1 1 0 1 0 0-2h-8V3a1 1 0 0 0-1-1z" />
  </svg>
</div>
