.parent {
    display: flex;
    justify-content: center;
    border: 2px solid black;

    height: 100vh;
    overflow: hidden;
}

.wrapper {
    height: auto;
    max-width: 70%;
    border: 1px solid red;
    


    flex-grow:1;
}

.side-menu {
    height: auto;
    max-width: 30%;
    border: 3px solid teal;


    flex-grow:1;
}
