.addNote {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 12px;

    font-size: 28px;
    cursor: pointer;
    margin-left: auto;

    transition: box-shadow 0.2s ease;
    &:hover {
        color: black;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        
    }
}

.container-button{
    padding: 25px;
}