
<div *ngIf="note; else noNote">
    <form>
        <span>
            <ion-icon name="arrow-back-outline" routerLink="/notes" class="back-icon"></ion-icon>
            <div style="display: flex; align-items: center;">
                <ion-icon name="save-sharp" class="save-icon"></ion-icon>
                <ion-icon name="trash-sharp" class="delete-icon"></ion-icon>
            </div>
        </span>
        <small>Edited: {{ note.createdAt | date: 'medium' }}</small>
        <div>
            <input id="title" [(ngModel)]="note.title" name="title" type="text" placeholder="Note title" />
        </div>

        <div>
            <textarea id="content" [(ngModel)]="note.content" (input)="autoResize($event)" name="content" placeholder="What's on your mind?"></textarea>
        </div>

    </form>
</div>

<ng-template #noNote>
    <p></p>
</ng-template>