form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;

    input[type="text"] {
        width: 100%;
        padding: 10px;
        font-size: 1.25rem;
        font-weight: bold;

        border: 1px solid transparent;
        border-radius: 4px;
        background-color: transparent;
        outline: none;
        box-shadow: none;

        &:focus {
            border-color: transparent;
            outline: none;
            box-shadow: none;
        }
    }

    textarea {
        width: 100%;
        padding: 12px;
        font-size: 1rem;
        line-height: 1.5;
        text-align: justify;

        border: 1px solid transparent;
        border-radius: 4px;
        background-color: transparent;
        outline: none;
        box-shadow: none;

        resize: vertical;

        min-height: 30rem;
        overflow-y: hidden; /* Hide the scroll bar */
        resize: none;

        &:focus {
            border-color: transparent;
            outline: none;
            box-shadow: none;
        }
    }

    small {
        color: #666;
        font-size: 0.875rem;
        text-align: right;
        display: block;
    }
}

.back-icon {
    font-size: 32px;
    cursor: pointer;

    margin-bottom: 20px;

    &:hover {
        color: black;
    }
}


@media (max-width: 768px) {
    form {
        width: 100%;
        padding: 0 20px;
    }
}